.header{height: 3rem;position: relative;}
.app-header--title{height: 3rem;background: #f00;color: #fff;text-align: center;font-size: 1.2rem;line-height: 3rem;position: fixed;left: 0;right: 0;}
.app-header--pos{height: 3rem;}